@font-face {
	font-family: 'Card';
	src: url('Montserrat-Bold.ttf') format('truetype');
}
@font-face {
	font-family: 'Points';
	src: url('Montserrat-BoldItalic.ttf') format('truetype');
}

svg.carddefs mask text {
	font-family: 'Card';
	font-size: 100px;
}
svg.carddefs mask text.points {
	font-family: 'Points';
	font-size: 15px;
}

svg:not(.carddefs) {
	width: 200;
	viewBox: "0 0 128 183";
	transition: transform 50ms;
}

svg:not(.carddefs):hover {
	transform: scale(1.1);
}

svg:not(.carddefs) rect {
	width: 100%;
	height: 100%;
}
svg:not(.carddefs) rect:not([fill]) {
	fill: #2a2a2a;
}

.realgar {
	background: #c31313;
	background: linear-gradient(0deg, #a72d2d 0%, #862020 33%, #8f0a0a 64%, #ba1142 84%, #c31313 100%); 
}
.calcite {
	background: #dfdfdf;
	background: linear-gradient(0deg, #b0a69b 0%, #dfdfdf 38%, #e2f1f1 73%, #d0d4e2 100%); 
}
.onyx {
	background: #000000;
	background: linear-gradient(0deg, #000000 0%, #1c1c1c 33%, #636363 65%, #0a0a0a 80%); 
}
.ametrine {
	background: #ece613;
	background: linear-gradient(0deg, #b6aa32 0%, #ece613 45%, #3e0f8e 85%, #9f1ed5 100%); 
}
.citrine {
	background: #ece613;
	background: linear-gradient(0deg, #b6aa32 0%, #ece613 40%, #d5cd3d 100%);
}
.dioptase {
	background: #008c65;
	background: linear-gradient(0deg, #10622b 0%, #008c65 30%, #0f8e88 69%, #0fac6e 100%); 
}
